html
    {
        margin: 0;
        /* background-image: url("background.jpg");
        background-size: cover;
        background-position: bottom; */
        height: 100%;
    }
body    
    {
        margin: 0;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
a
    {
        text-decoration: none;
        color: black;
    }
a:hover
    {
        color: white;
    }
header
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: rgba(238, 39, 218, 0.507);
        backdrop-filter: blur(4px);
    }
#Hgauche
    {
        display: flex;
        flex-direction: row;
        flex-grow: 3;
        padding-left: 5vw;
    }
#Hdroite
    {
        display: flex;
        flex-direction: row;
        flex-grow: 2;
        justify-content: space-evenly;
    }
main
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        align-items: center;
    }
main section
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(16, 161, 16, 0.562);
        backdrop-filter: blur(4px);
        flex-grow: 0.4;
        width: 25vw;
    }
form
    {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-grow: 0.6;
        width: 25vw;
        background-color: rgba(16, 161, 16, 0.562);
        backdrop-filter: blur(4px);
        align-items: center;
    }
#tableau_users
    {
        border: 1px solid black;
    }
footer
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: rgba(238, 39, 218, 0.507);
        backdrop-filter: blur(4px);
    }